h2 {
    color: var(--bege) !important;
    margin-top: 4rem;
    font-size: 3rem !important;
}

p {
    color: rgba(244, 246, 238, 0.716);
    font-size: 1.5rem !important;
}

.tracking-container {
    max-width: 130rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--verde);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tracking-header h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.tracking-header p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.timeline {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.timeline-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 14%;
    flex: 1;
    justify-content: space-between;
    text-align: center;
}

.timeline-step .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #437241;
    margin-top: 4rem;
    margin-bottom: 15px;
    position: relative;
    z-index: 1
}

.timeline-step .circle i {
    font-size: 28px;
    color: white;
}

.timeline-step .step-title {
    font-size: 1.5rem;
    color: var(--bege);
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: center;
    font-family:'Ubuntu', sans-serif;
}

.timeline-step .hour {
    font-size: 1.2rem;
    color: rgba(244, 246, 238, 0.716);
    font-family:'Ubuntu', sans-serif;
    text-align: center;
}

.timeline-step::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 70px;
    width: 100%;
    height: 2px;
    background-color: #506451;
}

.timeline-step:last-child::after {
    display: none;
}

.timeline-step.completed .circle {
    background-color: #437241;
}
