/* CONFIGURAÇÃO BÁSICA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --verde: #7B987C;
  --bege: #FBE9D5;
}

body {
  font-size: 1.6rem;
  height: 100%;
  background-color: var(--bege);
}