/* HEADER E NAVBAR */
header {
  display: flex;
  background-color: var(--verde);
  height: 8rem;
  padding: 0 1.4rem;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 3rem;
    color: var(--bege);
    cursor: pointer;
  }

  img {
    width: 8rem;
    height: 6rem;
  }
}

nav {
  background-color: var(--bege);
  height: 3rem;
  margin: 0 1.4rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 30rem;

  li {
    list-style: none;
    color: var(--verde);
    cursor: pointer;
  }
}

/* PRIMEIRA SEÇÃO COM CARROUSEL */
.carrousel {
  display: flex;
  background-color: var(--verde);
  gap: 4rem;
  height: 62rem;
  color: var(--bege);

  .carousel-container {
    background-color: var(--bege);
    margin: auto 5rem;
    width: 40%;
    height: 50rem;
  }

  .text-container {
    display: flex;
    width: 40%;
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
  }
}

/* SEÇÃO CATEGORIAS */
.categorias-container{
  h2, p{
    text-transform: uppercase;
    color: var(--verde);
    text-align: center;
  }

  h2{
    margin-top: 3rem;
  }

  /* p{
    border-bottom: 1px solid var(--verde);
    border-width: 30%;
  }
 */
 .linha {
  display: block; 
  padding: 0;
  margin: 1rem 0; 
  width: 80%; 
  max-width: 60rem;
  height: 1px; 
  background-color: var(--verde);
  margin-left: auto;
  margin-right: auto;
}
  .categorias{
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    
    .categoria{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      
      img{
        width: 18rem;
        border-radius: 50%;
      }

      p{
        text-transform: uppercase;
      }
    }
  }
  .categoria.anel img {
    width: 18rem;
    height: 18rem;
  }
  
  /* Pulseiras */
  .categoria.pulseira img {
    width: 18rem;
    height: 18rem;
  }
  
  /* Colares */
  .categoria.colar img {
    width: 18rem;
    height: 18rem;
  }
  
  /* Relógios */
  .categoria.relogio img {
    width: 18rem;
    height: 18rem;
  }
  
  /* Piercings */
  .categoria.piercing img {
    width: 18rem;
    height: 18rem;
  }
}
/* SEÇÃO MARCAS */
.marcas-container{
  h2, p{
    text-transform: uppercase;
    color: var(--verde);
    text-align: center;
  }

  h2{
    margin-top: 6rem;
  }

  .linha {
    display: block;
    width: 80%;
    height: 1px;    
    background-color: var(--verde);
    margin: 1rem auto;
    max-width: 60rem;
  }
  .marcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9rem;
    margin-top: 3rem;
  }
  
  .marca img{
    width: 25rem;
  }
}

/* SEÇÃO COLEÇÕES  */
.colecoes-container{
  h2, p{
    text-transform: uppercase;
    color: var(--verde);
    text-align: center;
  }

  h2{
    margin-top: 6rem;
  }
  .linha {
    display: block;
    width: 80%;
    height: 1px;    
    background-color: var(--verde);
    margin: 1rem auto;
    max-width: 60rem;
  }
  .colecoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
  }
  .colecao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border: 2px solid var(--verde);
    border-radius: 8px;
    padding: 8rem;
    box-sizing: border-box;
    background-color: #FBE9D5;
    flex: 0 0 20%;
  }
  .colecao p {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--verde);
  }
  .colecao p1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--verde);
  }
  .colecao-arvore img {
    width: 8.5rem;
    height: 8.5rem;
  }

  .colecao-oracao img {
    width: 8rem;
    height: 8rem;
  }

  .colecao-patinha img {
    width: 8rem;
    height: 8rem;
  }

  .colecao-familia img {
    width: 9rem;
    height: 9rem;
  }

  .colecao-autismo img {
    width: 10rem;
    height: 10rem;
  }

  .colecao-criancas img {
    width: 9rem;
    height: 9rem;
  }

  .colecao-zodiaco img {
    width: 9rem;
    height: 9rem;
  }

  .colecao-onda img {
    width: 9rem;
    height: 9rem;
  }
  .quadrado-mais {
    width: 20rem;
    height: 4rem;
    background-color: var(--verde);
    color: var(--bege);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.4rem; 
    border-radius: 5px;
    margin-top: 3rem; 
    margin-bottom: 3rem; 
    margin-left: auto;
    margin-right: auto;
  }
}
/* SEÇÃO PARA ELES  */
.masculina-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  h2, p{
    text-transform: uppercase;
    color: var(--verde);
    font-family:'Ubuntu', sans-serif;
  }

  h2{
    letter-spacing: 1.3rem;
    margin-top: 4rem;
    font-size: 6rem;
  }


  .p {
    font-size: 1.4rem;
    margin-top: 1rem;
    color: var(--verde);
  }

  .texto {
    padding-left: 29rem;
    padding-right: 3rem;
  }
  .masculina {
    margin-top: 5rem;
    margin-right: 17rem;
    margin-bottom: 8rem;
  }
  .masculina img {
    height: 45rem;
    width: 45rem;
    border-radius: 8%;
  }

  .ver-mais {
    background-color: var(--verde);
    color: var(--bege);
    font-family:'Ubuntu', sans-serif;
    font-size: 2rem;
    padding: 0.8rem 3.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2.5rem;
    transition: background-color 0.3s;
  }

  .ver-mais:hover {
    background-color: #556856;
  }
}

.pre-footer {
  background-color:#386b55;
  color: var(--bege); 
  padding: 2rem 0rem;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--verde);
  color: var(--bege); 
  padding: 2rem 8rem;
  font-family: 'Ubuntu', sans-serif;
}

.footer-secao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.footer-secao > div {
  flex: 1 1 22%; 
  min-width: 20rem;
}
.footer-secao > div:first-child {
  margin-left: 3rem;
}
.footer-secao > div:nth-child(4) {
  margin-right: 3rem;
}

.email-form {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.email-form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #fffcfc;
  border-radius: 4px;
  width: 20rem;
}

.email-form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #91b691; /* Verde */
  color: var(--bege);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.email-form button:hover {
  background-color: #45a049; /* Efeito de hover */
}


.linha {
  display: block;
  margin: 0 0 0 0;
  width: 100%;
  height: 1px; 
  background-color: var(--bege);
  opacity: 0.4;
}

.formas-pagamento {
  display: flex;
  margin-top: 2rem;
  margin-left: 3rem;
  flex-direction: column;
}

.pagamentos-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}

.footer-secao h3 {
  margin-bottom: 1rem;
  font-size: 2rem; 
}

.footer-secao p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.redes-sociais a {
  text-decoration: none;
  color: inherit;
}
.redes-sociais i {
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.redes-sociais i:hover {
  transform: scale(1.1);
}

.mastercard img {
  width: 4.5rem;
  height: 3.5rem;
}
.visa img {
  width: 5rem;
  height: 4rem;
}
.elo img {
  width: 5.5rem;
  height: 3.5rem;
}
.pix img {
  width: 3.5rem;
  height: 3.5rem;
}
.mercado_pago img{
  width: 7rem;
  height: 7rem;
  margin-top: 1.5rem;
}
.americanexpress img {
  width: 5rem;
  height: 4rem;
}
.loja_protegida {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 0.3rem;
  margin-left: 49rem;
}

.loja_protegida img {
  width: 22rem;
  height: 6rem;
}

.posfooter{
  background-color:#606261;
  color: var(--bege); 
  padding: 1rem 0;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  height: 3.5rem;
}